<form action="/products/search" method="post" class="container">
 <br>
 <br>
 <br>
  <div class="mb-3 ">
     <h1 style="text-align: center;">Seach Products</h1>
     
    <input type="text"  name="searchData" class="form-control" id="search" placeholder="Enter product name">
  </div>
  
  <button type="submit" class="btn btn-primary">Search</button>
  <a href="/products/logout"><button class="btn btn-danger">Logout</button></a>
</form>