.App {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}

.App .title {
  font-size: 5rem;
  padding: 0px 20px 0px 20px;
  background-color:whitesmoke;
  border-radius: 10px;
  border: 2px solid black;
  align-self: center;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
